<html lang="en">
    <head>
        <title>My TEST OTUS LAB Webpage</title>
    </head>
    <body style="background-color: {{ backgrnd_color }};">
        <h1 style="color: {{ font_color }};">NGINX Server {{ansible_nodename}} has IP address: {{ ansible_host }} and OS is {{ ansible_os_family }} </h1>
        <p style="color: {{ font_color }};">Automation Ansible LAB</p>
    </body>

    <img src="otus.png" width=500/>
</html>

